
/**
 * 再给边框上点颜色.
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * 感谢您阅读我的简历! 期待能有机会与您共事.
 *
 * 谢谢 http://strml.net 的作者 Samuel Reed 做出如此酷炫的项目, 我仔细阅读了项目源码.
 * 掌握了 async 的用法, 代码写的非常棒, 我仔细研读了一遍, 然后做了一些修改.
 */

/**
 * 顺便提一句, 你可以在这个编辑框里添加新的 CSS 代码
 *
 * 试一试吧!
 *
 */
